---
// 使用您在 hosts 文件中定义的假域名
// const customDomain = "http://dev.myastro.com:4321";
// https://youtu.be/tk5VfHeeGDM
//
// 注意：这里仍然是 HTTP，因为本地配置 HTTPS 比较复杂
const mainpduvideo = `https://www.youtube.com/embed/tk5VfHeeGDM?si=UzrhMaAsYxh_eSZf`;
---

<div class="video-container">
    <iframe
        src={mainpduvideo}
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
        width="100%"
        height="360"
        title="jasdd"
        referrerpolicy="strict-origin-when-cross-origin"
    >
    </iframe>
</div>
